%content-title {
  font-family: $base-font-family;
  font-size: em(14);
  letter-spacing: 1px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

%content-subtitle {
  font-size: em(18);
  font-weight: normal;
}
