---
layout: default
title: "We connect Philly startups and entrepreneurs to what they need most: each other."
sub-title: Philly Startup Leaders is the largest and most active community of tech entrepreneurs in the Philadelphia region.
---

<section>
  <article class="listserv featured">
    <h1>Join our Listserv</h1>
    <h2>Find out about local events, job listings, start-up advice, and more.</h2>
    <a href="https://groups.google.com/forum/#!forum/talk-psl" class="main-action">Join the List</a>
  </article>

  <article class="events">
    <h1>Events Philly Startup Leaders Hosts</h1>
    <ul>

      <li>
        <div class="icon">
          {% include bbq.svg %}
        </div>

        <h2>PSL Summer BBQ</h2>
        <h3>Summer 2016</h3>
      </li>

      <li class="next-event">
        <div class="icon">
          {% include expo.svg %}
        </div>

        <h2>Entrepreneur Expo</h2>
        <h3>May 3<sup>rd</sup>, 2017</h3>
        <a href="http://marketing4599.wixsite.com/entrepreneur-expo16">Learn more</a>
      </li>

      <li>
        <div class="icon">
          {% include factory.svg %}
        </div>

        <h2>Founder Factory</h2>
        <h3>December 8<sup>th</sup>, 2016</h3>
      </li>

    </ul>
  </article>

  <article class="programs">
    <h1>Programs for Philly Startups</h1>
    <ul>
      <li>
        <div class="icon">
          {% include ssg.svg %}
        </div>

        <div class="program-info">
          <a href="http://startstaygrow.com/">
            <h2>Start. Stay. Grow.</h2>
            <p>Connects local students with businesses and entrepreneurs in Philly.</p>
          </a>
        </div>
      </li>

      <li>
        <div class="icon">
          {% include bootcamp.svg %}
        </div>

        <div class="program-info">
          <a href="http://bootcamp.phillystartupleaders.org">
            <h2>Startup Bootcamp</h2>
            <p>Learn how to take your idea from zero to startup in ninety days.</p>
          </a>
        </div>
      </li>

      <li>
        <div class="icon">
          {% include labs.svg %}
        </div>

        <div class="program-info">
          <a href="http://www.phillystartuplabs.org/">
            <h2>PSL Labs</h2>
            <p>Get your startup idea validated by real customers.</p>
          </a>
        </div>
      </li>

      <li>
        <div class="icon">
          {% include university.svg %}
        </div>

        <div class="program-info">
          <a href="http://accelerator.phillystartupleaders.org">
            <h2>PSL Accelerator</h2>
            <p>A startup accelerator by the community, for the community.</p>
          </a>
        </div>
      </li>
    </ul>
  </article>

  <article class="manifesto-introduction">
    <h1>About Philly Startup Leaders</h1>
    <p>PSL began in September of 2007 as a handful of entrepreneurs meeting in the back of a neighborhood bar to trade war stories. After an incredible evening of sharing experiences and giving advice to our peers, we decided to meet again a few weeks later. </p>
    <p>Word soon spread that we had assembled a great group of ambitious young minds, and our ranks began to swell. Within a couple of months, our meetings outgrew the back room of the bar, and we knew that something special was happening. <a href="{{ site.baseurl }}/about-psl">Read more about PSL</a></p>
  </article>
</section>
