.manifesto-introduction {
  p {
    @extend %primary-text;

    @include media(em(900)) {
      @include span-columns(6);
    }
  }
}

.events {
  h3 {
    color: $main-font-color;
    font-family: $base-font-family;
    font-size: 1em;
    font-weight: normal;
  }

  ul {
    @include media(em(900)) {
      @include row(table);
    }
  }

  li {
    padding: 2em;
    text-align: center;

    @include media(em(700)) {
      @include span-columns(4, table);
      vertical-align: middle;
    }

    a {
      display: inline-block;
      margin-top: 1em;
    }
  }

  .icon {
    margin-bottom: 1em;

    svg {
      fill: $tan;
    }
  }

  .next-event {
    background-color: $base-accent-color;
    color: white;
    vertical-align: top;

    &:before {
      content: "Next Event";
      display: block;
      font-size: em(14);
      font-weight: bold;
      margin-bottom: 2em;
      text-transform: uppercase;
    }

    h3 {
      color: rgba(white, 0.7);
    }

    a {
      @extend %inverse-button;
    }

   .icon svg {
      fill: darken($base-accent-color, 20);
    }
  }

  .psl-live {
    background-color: #f4f4f4;
    display: block;
    margin: 0 auto;

    a {
      @extend %inverse-button;
    }
  }
}

.programs {
  ul {
    @include row;
  }

  li {
    @include row;
    margin-bottom: 3em;

    @include media(em(700)) {
      @include omega(2n);
      @include span-columns(6);

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }

  svg {
    @include media(max-width $main-content-medium) {
      width: 32px;
    }

    @include media(min-width em(700) max-width em(900)) {
      width: 32px;
    }
  }

  h2 {
    color: $base-font-color;
  }

  p {
    color: $main-font-color;
  }

  a {
    &:hover {
      h2 {
        color: $base-accent-color;
      }
    }
  }

  .icon {
    @include span-columns(1 6);

    @include media(em(900)) {
      margin-top: 1em;
    }
  }

  .program-info {
    @include span-columns(5 6);
  }
}

.listserv {
  .icon {
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 0.5em;
  }

  h2 {
    display: inline-block;
    margin-right: 2em;
  }
}
