.leadership {
  @include clearfix;

  li {
    margin-bottom: 3em;

    @include media(em(750)) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .photo {
    img {
      margin-bottom: 1em;
      width: 100%;
    }
  }

  header {
    margin-bottom: 2em;
  }

  h2 {
    @extend %content-title;
    color: $base-accent-color;
    margin-bottom: 1em;
  }

  h3 {
    @extend %content-subtitle;

    a {
      color: $base-font-color;

      &:hover,
      &:focus {
        color: $base-accent-color;
      }
    }
  }

  h4 {
    color: $main-font-color;
    font-family: $base-font-family;
    font-size: 1em;
    font-weight: normal;
  }
}

.volunteers {
  @include row;
  border-top: 1px solid $base-border-color;
  padding-top: 4em;

  li {
    margin-bottom: 1em;

    @include media(min-width em(350) max-width em(599)) {
      @include omega(2n);
      @include span-columns(6);
    }

    @include media(min-width em(600) max-width em(829)) {
      @include omega(3n);
      @include span-columns(4);
    }

    @include media(em(830)) {
      @include span-columns(2.4);
    }
  }

  p {
    margin-bottom: 0;
  }

  h4 {
    font-family: $base-font-family;
    font-size: 1em;
    margin-bottom: 0.25em;
  }
}
