.leadership {
  @include clearfix;

  li {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 3em;
  }

  .photo {
    img {
      margin-bottom: 1em;
    }
  }

  header {
    margin-bottom: 2em;
  }

  h2 {
    @extend %content-title;
    color: $base-accent-color;
    margin-bottom: 1em;
  }

  h3 {
    @extend %content-subtitle;
  }

  h4 {
    color: $main-font-color;
    font-family: $base-font-family;
    font-size: 1em;
    font-weight: normal;
  }
}

.volunteers {
  @include row;
  border-top: 1px solid $base-border-color;
  padding-top: 4em;

  li {
    @include span-columns(2.4);
  }

  p {
    margin-bottom: 0;
  }

  h4 {
    font-family: $base-font-family;
    font-size: 1em;
    margin-bottom: 0.25em;
  }
}
