.dropdown {
  position: relative;
  z-index: 1;

  &:hover {
    > a {
      background-color: rgba($dark-brown, 0.8);
    }

    ul {
      display: block;
    }
  }

  svg {
    @include position(relative, -1px null null null);
    display: inline-block;
    margin-left: 0.5em;
  }

  ul {
    @include position(absolute, null null null null);
    background-color: $secondary-background-color;
    display: none;
    width: 16em;
  }

  li,
  a {
    display: block;
  }
}
