footer {
  @include clearfix;
  background-color: $secondary-background-color;
  color: $footer-font-color;
  padding: $container-padding-small;

  @include media($main-content-medium) {
    padding: $container-padding-medium;
  }

  @include media($main-content-large){
    margin-bottom: 3em;
    padding: $container-padding-large;
  }
}

.thoughtbot {
  @include clearfix;
  border-bottom: 1px solid lighten($dark-brown, 10);
  margin-bottom: 4em;
  padding-bottom: 4em;

  @include media(max-width $main-content-medium) {
    text-align: center;
  }

  h1 {
    @extend %content-title;
    color: $base-accent-color;
  }

  h2 {
    @extend %content-subtitle;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }

  svg {
    @include size(8em);
    margin-right: 1.5em;

    @include media($main-content-medium) {
      float: left;
    }
  }

  p {
    max-width: em(600);
  }
}

.logo-wrapper {
  @include media(em(1050)) {
    @include span-columns(4);
  }

  .logo {
    color: white;
  }

  p {
    margin-top: 1em;
  }
}

.footer-navigation {
  margin-top: 3em;

  @include media(em(1050)) {
    @include shift(2);
    @include span-columns(6);
  }

  h3 {
    font-size: em(15);
    font-weight: normal;
    margin-bottom: 0.5em;

    a {
      color: white;

      &:hover,
      &:focus {
        color: rgba(white, 0.8);
      }
    }
  }

  li {
    margin-bottom: 0.5em;
  }

  .group {
    margin-bottom: 2em;

    @include media(em(600)) {
      @include span-columns(4);
      margin-bottom: 0;
    }

    @include media(em(1050)) {
      @include span-columns(2 6);
    }
  }

  .twitter {
    margin-top: 2em;
  }
}
