.main-header {
  @include outer-container;
  background-color: $secondary-background-color;
  color: white;
  margin-top: 2em;

  a {
    color: white;

    &:hover {
      color: rgba(white, 0.8);
    }
  }

  .logo {
    float: left;
    padding: 1.5em 2em 0;
  }
}

%navigation-link {
  a {
    font-family: $header-font-family;
    display: inline-block;
    padding: em(28, 15) em(16, 15);

    &:hover {
      color: $base-accent-color;
    }
  }
}

.social {
  @include row;
  @extend %navigation-link;
  float: right;
  font-size: em(15);

  &:after {
    @include position(relative, -0.25em null null null);
    @include size(0.3em);
    background: $dark-brown;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin: 0 1em;
  }

  a:hover svg {
    fill: $base-accent-color;
  }

  svg {
    fill: white;
  }

  span {
    display: none;
  }
}

.main-navigation {
  @include row;
  @extend %navigation-link;
  float: right;
  font-size: em(15);

  a {
    &:hover,
    &:focus {
      background-color: rgba($dark-brown, 0.8);
    }
  }

  li {
    display: inline-block;

    &:last-child {
      a {
        padding-right: em(32, 15);
      }
    }
  }
}
