.main-content {
  background: $base-background-color;
  padding: $container-padding-small;

  @include media($main-content-medium) {
    padding: $container-padding-medium;
  }

  @include media($main-content-large) {
    padding: $container-padding-large;
  }

  article {
    @include row;
    border-top: $base-border;
    padding: 3em 0;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    &.featured {
      background-color: $base-border-color;
      border: none;
      margin: -2em -2em auto;
      padding: $container-padding-small;

      @include media($main-content-medium) {
        margin: -4em -4em auto;
        padding: $container-padding-medium;
      }

      @include media($main-content-large) {
        margin: -4em -8em auto;
        padding: $container-padding-large;
      }

      h1 {
        margin-bottom: 1em;
      }

      h2 {
        @include media(em(1050)) {
          float: left;
        }
      }

      .main-action {
        @extend %button;
        display: inline-block;
        margin-top: 1em;
        padding: 1.25em 3em;
        vertical-align: bottom;

        @include media(em(1050)) {
          float: right;
          margin-top: -2em;
        }
      }
    }

    h1 {
      @extend %content-title;
      color: $base-accent-color;
    }

    h2 {
      @extend %content-subtitle;
    }
  }
}
